.tabs {
  padding: 10px 20px;
  cursor: pointer;
  background-color: #f1f1f1;
  border: none;
  outline: none;
  transition: background-color 0.3s ease;
  font-weight: 500;
}

.content {
  display: none;
}

/* Mostrar contenido cuando está activo */
.activeContent {
  display: block;
}

.activeTabs {
  background-color: #ffffff;
  border-bottom: 2px solid #007bff;
  color: #007bff;
}

@media only screen and (min-width: 25em) {
  /* small 400px */
}

@media only screen and (min-width: 38em) {
  /* medium 608px */

  #hero {
    height: 68vh;
  }
}

@media only screen and (min-width: 60em) {
  /* large 960px*/

  #hero {
    height: 78vh;
  }
}

@media only screen and (min-width: 75em) {
  #hero {
    height: 88vh;
  }
}

@media only screen and (min-width: 90em) {
  /* extra large 1440px */

  /* Estilos para el contenedor principal */
  .container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
  }

  /* Estilos para las pestañas */
  .blockTabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    border-bottom: 2px solid #ddd;
  }

  /* Estilo para una pestaña */
  .tabs {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #f1f1f1;
    border: none;
    outline: none;
    transition: background-color 0.3s ease;
    font-weight: 500;
  }

  /* Estilo cuando una pestaña está activa */
  .activeTabs {
    background-color: #ffffff;
    border-bottom: 2px solid #007bff;
    color: #007bff;
  }

  /* Estilo para el contenido */
  .contentTabs {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }

  .content {
    display: none;
  }

  /* Mostrar contenido cuando está activo */
  .activeContent {
    display: block;
  }
}
